.trabajo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 900px) {
    height: 100vh;
  }
  min-height: 50vh;
  width: 100%;
}
.trabajo-single {
  padding: 3rem 0;
  width: 100%;
  position: relative;
  margin: auto;
  @media (min-width: 900px) {
    width: 800px;
  }
  .trabajo-img {
    width: 100%;
    @media (min-width: 900px) {
      width: 700px;
    }
    margin-left: auto;
    border: 1px solid #fafafa;
  }
}

.bg-pattern {
  @media (min-width: 900px) {
    background: url('../../images/bg-pattern.png') repeat;
    width: 720px;
    height: 500px;
    top: 0px;
    right: -50px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
  }
}

.trabajo-info {
  h3 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    @media (min-width: 900px) {
      font-size: 3.5rem;
      text-align: left;
    }
  }
  p {
    display: none;
    @media (min-width: 900px) {
      text-align: left;
      margin-left: 35px;
      color: #555;
      display: block;
    }
  }
}
